/* Error: Undefined variable.
 *   ,
 * 2 |     background-color: if($screen_corners, $bg_color, transparent);
 *   |                          ^^^^^^^^^^^^^^^
 *   '
 *   .dots/Backups/ags_Backup_1.4.0-14-10-23/scss/widgets/desktop.scss 2:26  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502      background-color: if($screen_corners, $bg_color, transparent);\a   \2502                           ^^^^^^^^^^^^^^^\a   \2575 \a   .dots/Backups/ags_Backup_1.4.0-14-10-23/scss/widgets/desktop.scss 2:26  root stylesheet";
}
