/* Error: Undefined mixin.
 *   ,
 * 8 |     @include floating_widget;
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   .dots/Backups/ags_backup_new-04-10/scss/widgets/powermenu.scss 8:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 8 \2502      @include floating_widget;\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   .dots/Backups/ags_backup_new-04-10/scss/widgets/powermenu.scss 8:5  root stylesheet";
}
