/* Error: Undefined variable.
 *   ,
 * 3 |         box-shadow: inset 0 0 .5em 0 $red;
 *   |                                      ^^^^
 *   '
 *   .dots/Backups/ags_Backup-14-10-23/scss/widgets/notifications.scss 3:38  notification()
 *   .dots/Backups/ags_Backup-14-10-23/scss/widgets/notifications.scss 83:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502          box-shadow: inset 0 0 .5em 0 $red;\a   \2502                                       ^^^^\a   \2575 \a   .dots/Backups/ags_Backup-14-10-23/scss/widgets/notifications.scss 3:38  notification()\a   .dots/Backups/ags_Backup-14-10-23/scss/widgets/notifications.scss 83:9  root stylesheet";
}
